
        <!-- javascript libraries / javascript files set #1 -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
				<!-- Latest compiled and minified JavaScript -->
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
				</script>

        <script type="text/javascript" src="js/main.js"></script>
        <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_pDFMEcoRdQzugVFpDZtfGobdeMVNbe8&amp;callback=initialize"></script>