<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <h1>Sign Up As a Donor </h1>
        <form action= "/api/donor" method = "post">
            <input type="text" name="userName" placeholder="Pick a User Name" />  <br />
            <input type="email" name="email" placeholder="Your e-mail" /> <br />
            <input type="password" name="password" placeholder="Pick a Password" /><br>
            <input type="submit" value="submit"></input>  <br>
            <br>
        </form>

        <h1>Sign Up As an Artist </h1>
        <form action= "/api/artist" method = "post">
            <input type="text" name="userName" placeholder="Pick a User Name" />  <br />
            <input type="text" name="glat" placeholder="Your Google latitude" />  <br />
            <input type="text" name="glong" placeholder="Your Google longitude" />  <br />
            <input type="email" name="email" placeholder="Your e-mail" /> <br />
            <input type="password" name="password" placeholder="Pick a Password" /><br>
            <input type="submit" value="submit"></input>  <br>
            <br>
        </form>
  </body>
</html>
